<!doctype html>
<html>
  <head>
<style>
  div.container {
    width: 100%;
    border: 10px solid green;
  }

  header, footer {
    padding: .5em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    font-style: courier;
  }

  nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }
   
  nav ul a {
    text-decoration: none;
  }

  article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    text-align: center;
  }
</style>
</head>

<body>

<div class="container">

<header>
   <h1>Homepage</h1>
</header>
  
<nav>
  <ul>
    <li><%= link_to "About", about_path %> </li>
  </ul>
</nav>

<article>
  <h1>My Firist Webpage</h1>
  <p>This is a test webpage.</p>
</article>

</div>

</body>
</html>